.col-3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.something {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 5px solid black;
}

.iconcol{
    font-size: 30px;
    margin-top: 10px;
}

.icon-info {
    margin-left: 15px;
}

.icon-desc {
    color: gray;
}

#backtop {
    width: 50px;
    height: 50px;
    background-color: rgb(99, 101, 101);
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

#backtop:hover {
    background-color: rgb(49, 50, 50);
    cursor: pointer;
}

.bst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.bst img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bst img:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

/* -----------------------------------homepage-product----------------------------------- */
.product {
    padding: 0 40px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.product-images {
    display: flex;
    gap: 5px;
}

.product .banner img {
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product .banner img:hover {
    transition: 0.4s;
    cursor: pointer;
    filter: brightness(1.05);
}

.product-item {
    margin-top: -10px;
}

.product-item img {
    object-fit: cover;
    height: 400px;
    width: 270px;
    border-radius: 10px;
}

.product-banner {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.product-item img:hover {
    transform: scale(0.98);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product-info {
    margin-top: 10px;
    margin-left: 20px;
}

.product-info p {
    color: rgb(64, 94, 164);
    font-size: 18px;
}

.view-all {
    display: inline-block; 
    width: 130px; 
    height: 45px;
    margin: 20px auto;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.2s;
}

.view-all i{
    margin-left: 5px;
    margin-top: 3px;
}

.view-all:hover {
    background-color:rgb(99, 101, 101);
    color: white;
    cursor: pointer;
}